KERNEL=="sd*", DRIVERS=="sbp2",         ACTION=="add",  PROGRAM="/bin/systemd-escape -p --template=usbmount@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
KERNEL=="sd*", SUBSYSTEMS=="usb",       ACTION=="add",  PROGRAM="/bin/systemd-escape -p --template=usbmount@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
KERNEL=="ub*", SUBSYSTEMS=="usb",       ACTION=="add",  PROGRAM="/bin/systemd-escape -p --template=usbmount@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
KERNEL=="sd*",                          ACTION=="remove",       RUN+="/usr/share/usbmount/usbmount remove"
KERNEL=="ub*",                          ACTION=="remove",       RUN+="/usr/share/usbmount/usbmount remove"
#SUBSYSTEM=="block", KERNEL=="sda1", ACTION=="remove", RUN+="/bin/bash /home/usbremove/usbremove1.sh"
#SUBSYSTEM=="block", KERNEL=="sdb1", ACTION=="remove", RUN+="/bin/bash /home/usbremove/usbremove2.sh"
#SUBSYSTEM=="block", KERNEL=="sdc1", ACTION=="remove", RUN+="/bin/bash /home/usbremove/usbremove3.sh"
#SUBSYSTEM=="block", KERNEL=="sdd1", ACTION=="remove", RUN+="/bin/bash /home/usbremove/usbremove4.sh"
